//
   Created by liuhong on 2017/1/11.
doctype html
html(ng-app="angularjs_practice_login")
head
    meta(charset="utf-8")
    link(rel="stylesheet",href='/stylesheets/angularjs_practice.css')
body
    div.login_part
        div.input_part
            img(src="../images/red_logo.png")
            p 使用Smartisan ID登录官网
            form(ng-controller="formCtrl" name="myform" novalidate)
                div.input_group
                  label 用户名
                  input(type="text" name="user" ng-model="username" required )
                div.input_group
                  label.password_label 密 码
                  input(type="text" name="pass" ng-model="password" required )
                input.form_submit(type="submit" ng-disabled="myform.user.$dirty && myform.user.$invalid || myform.pass.$dirty && myform.pass.$invalid" value="登录")
script(src="/javascripts/jquery-1.10.2.min.js")
script(src="/javascripts/angular-1.2.5.js")
script(src="/javascripts/angular-sanitize.min.js")
script.
    (function () {
        var app = angular.module("angularjs_practice_login", []);
        app.controller("formCtrl", function ($scope) {
            $scope.username=angular.lowercase("EMAILL");
            $scope.password="password";
                })
    })();



