//
   Created by liuhong on 2016/10/4.

doctype html
html
    head
        title index
        meta(http-equiv="Content-Type",content="text/html;charset=utf-8")
        link(rel='stylesheet', href='/stylesheets/css_basecss.css')
    body
       div#c1
           div.circle
       div#c2
           p 下三角形制作
           span.triangle(style="display:block;width:0px;height:0px;border-width:20px 20px 0 20px;border-style:solid;border-color:#333 transparent transparent;")
